<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>七怪房源</title>
<link href="{{static_url('css/style.css')}}" rel=stylesheet>
<script type="text/javascript" src="{{static_url('js/jquery-1.7.2.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/picmain.js')}}"></script>

</head>
<body class="vbody">
<div class="header">
    <div class="main"> 
      <a href="" class="logo"><img src="{{static_url('image/logo.jpg')}}" width="446" height="48"/></a>
    <div class="tel">
     <div class="telnum">联系我们：<span>888-888-88888</span></div>
     <div class="telphone"><img src="{{static_url('image/telphone.jpg')}}" width="57" height="57" /></div>
    </div>
        <div class="reg">
        <span id="user_status">
        </span>
        </div>
  </div>
</div>
<div class="cbanner"><img src="{{static_url('image/banner1.jpg')}}" width="100%" height="351" /></div>

<div class="menu">
  <ul>
      <li><a href="/index">首页</a></li>
      <li><a href="">关于我们</a></li>
      <li><a href="/third_rent">第三方租房</a></li>
      <li><a href="/rent">租房点我呀</a></li>
      <li><a href="/release">发布点我呀</a></li>
      <li><a href="/advice">投诉建议</a></li>
      <li><a href="/user">个人中心</a></li>
  </ul>
</div>
    <div class="fyRight">
      <div class="title">
         <span class="fl">关于我们</span>
      </div>
       <div class="tit"> 在这三寸人间&emsp;何不拼搏一把</div>
       <div class="time">发布人：七怪房源 发布日期：2018-10-31</div>
       <div class="pic"><img src="{{static_url('image/c3.jpg')}}" width="300" height="275" id="imgs" /></div>
       <div class="con">
       	&emsp;&emsp;七怪房源于2018年在中期答辩项目中创建。
       	目前城市化严重，大量人口不断向城市转化和集中，城镇人口占总人口的比重逐渐提高，在这个有着固态面积的城市之中，一张舒适且价格合适的床位就显得尤为重要，在小小的面积中有着你的希望，梦想，和坚持。
       	<br />&emsp;&emsp;什么？你问我人为什么要努力？
       	<br />&emsp;&emsp;没有经济基础支撑的孝心是无力的，你要做暖心小棉袄，你必须独立能养老。从小我被爸妈惯着宠着长大，在工作前几乎没吃过苦。日子过得太舒服人就容易乐观过头，大学毕业那天，我信誓旦旦向爸妈承诺：以前你们养我，以后我养你们。正所谓豪言壮语说太早，日后打脸啪啪啪。我的第一份工资除去房租水电，余额连生活基本开支都不够，养自己已是无比艰难，养爸妈简单天方夜谭。
       	<br />&emsp;&emsp;为一份长久的事业，为一对操劳的父母，为一场纯粹的感情，也为一个更好的自己。
       	<br />&emsp;&emsp;虽然未来总是未知，但只要你肯努力，你想要的，岁月都会给你。
       	<br />&emsp;&emsp;而我们网站致力于房租平价，致力于为顾客带去更好的服务，致力于做到全网第一。网站的租房理念也是大多数创业和来城市努力的年轻人所喜爱的。
       	<br />&emsp;&emsp;在这三寸人间，何不拼搏一把。
       	
       </div>
     </div>
 <div class="bootTxt"> 
 <div class="text">地址：北京市大兴区亦庄经济发展区科创十三街达内教育中心&nbsp;&nbsp;&nbsp;&nbsp;座机：888-8888-888&nbsp;&nbsp;&nbsp;&nbsp;手机：1388888888<br />版权所有：七怪团队&nbsp;&nbsp;&nbsp; 技术支持：<a href="" >七怪团队</a>&nbsp;&nbsp;&nbsp; ICP备案编号：<a href="">ICP备********号</a></div>
 </div>
</body>
</html>