<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>七怪房源</title>
<link href="{{static_url('css/style.css')}}" rel=stylesheet>
<link rel="stylesheet" type="text/css" href="{{static_url('css/nav1.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{static_url('css/fangke.css')}}"/>
<script src="{{static_url('js/jquery-1.8.3.min.js')}}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{static_url('js/jquery.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.jslides.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/menu.js')}}"></script>

</head>
<body>
<div class="header">
  <div class="main">
      <a href="" class="logo"><img src="{{static_url('image/logo.jpg')}}" width="446" height="48"/></a>
    <div class="tel">
     <div class="telnum">联系我们：<span>888-888-88888</span></div>
     <div class="telphone"><img src="{{static_url('image/telphone.jpg')}}" width="57" height="57" /></div>
    </div>
  </div>
  <div class="reg">
      <span id="user_status">
      </span>
      <span id="logout"></span>
      <p  display="none"  id="please_login">请<a href="/login">登录</a></p>
  </div>
</div>

<div class="banner">
	<div id="full-screen-slider">
       <ul id="slides">
            <li style="background:url({{static_url('image/banner1.jpg')}}) no-repeat center top;">&nbsp;</li>
            <li style="background:url({{static_url('image/banner2.jpg')}}) no-repeat center top;display:none">&nbsp;</li>
            <li style="background:url({{static_url('image/banner3.jpg')}}) no-repeat center top;display:none">&nbsp;</li>
        </ul>
	</div>
</div>
<!--<div class="clear"></div>-->
<div class="main menuarea">
  <div class="imenu">
    <ul>
      <li><a href="/index">首页</a></li>
      <li><a href="/about_us">关于我们</a></li>
      <li><a href="/third_rent">第三方租房</a></li>
      <li><a href="/rent">租房点我呀</a></li>
      <li><a href="/release">发布点我呀</a></li>
      <li><a href="/advice">投诉建议</a></li>
      <li><a href="/user">个人中心</a></li>
    </ul>
    <div  class="menu_t"><span>网站导航</span></div>
  </div>
  <div class="inotice">
    <div class="noticefl"><b>网站公告：</b>
      <marquee scrollamount="4" scrolldelay="5" onMouseOut="this.start()" onMouseOver="this.stop()">
     新用户首单首月7折房租，优惠多多，快快注册！</marquee>
    </div>
  </div>

  <div class="newscase"> <a href="" class="caseimg"><img src='{{static_url("image/q1.jpg")}}' width="280" height="210"/> </a>
    <div class="newscasetxt"> <a href=""><span>热门推荐</span></a>
      <p>
        作为一种客观存在的物质形态，房地产是指房产和地产的总称，包括土地和土地上永久建筑物及其所衍生的权利 </p>
    </div>
  </div>
</div>
<div class="case">
  <div class="mains">
    <div class="ititle"><p>新品上架</p><font>New Arrival </font> </div>
       <ul class="list">
            <li><a href=""><img src='{{static_url("image/c1.jpg")}}' width="260" height="195"  />
                 <span>位置的固定性和不可移动性</span></a> </li>
             <li><a href=""><img src='{{static_url("image/c2.jpg")}}' width="260" height="195" />
                  <span>使用的长期性</span></a> </li>
             <li><a href=""><img src='{{static_url("image/c3.jpg")}}' width="260" height="195" />
                   <span>影响因素多样性</span></a> </li>
             <li><a href=""><img src='{{static_url("image/q1.jpg")}}' width="260" height="195"  />
                   <span>价值盈利性</span></a> </li>
             <li><a href=""><img src= '{{static_url("image/q2.jpg")}}' width="260" height="195"  />
                   <span>保值增值性</span></a> </li>
             <li><a href=""><img src='{{static_url("image/q4.jpg")}}' width="260" height="195"  />
                   <span>行业相关性</span></a> </li>
             <li><a href=""><img src='{{static_url("image/q5.jpg")}}' width="260" height="195"  />
                   <span>易受政策影响性</span></a> </li>
             <li><a href=""><img src='{{static_url("image/q6.jpg")}}' width="260" height="195"  />
                   <span>居住用途的房屋</span></a> </li>
         </ul>
    <div class="more"><a href="/rent"><img src='{{static_url("image/more.png")}}'></a></div>
  </div>
</div>
<div class="news">
  <div class="main">
   <div class="ititle"><p><a href="http://news.fang.com/?ztzh_uuid=wap_news30062027">新闻中心</a></p><font>News Ccnter</font> </div>
     <div class="newsintr fl">
      <h2><a href="">房地产业是指从事土地和房地产开发、经营、管理和服务的行业。</a></h2>
      <p class="title_intr">国有土地使用权出让收入通常由四项政府性基金收入构成，除土地出让金收入外，还包括新增建设用地土地有偿使用费收入、国有土地收益基金收入和农业土地开发资金收入</p>
      <ul class="pointer">
          <li><span>2018-10-26 </span><a href="http://news.fang.com/2018-10-26/30007765.htm">市场降温明显！这个省会城市8块黄金地皮降价20亿才成交</a></li>
          <li><span> 2018-10-29</span><a href="http://www.fang.com/news/2018-10-29/30034784.htm">多地下调首套房贷利率 业内称并不代表调控政策转向</a></li>
          <li><span>2018-10-27</span><a href="http://www.fang.com/news/2018-10-27/30018834.htm">31城房价下跌 百城库存45月来首次显著攀升</a></li>
      </ul>
    </div>

    <div class="newsintr fr">
      <h2><a href="">房地产业主要包括以下一些内容</a></h2>
      <p class="title_intr"> 房地产的调控和管理，即建立房地产的资金市场、技术市场、劳务市场、信息市场，制定合理的房地产价格，建立和健全房地产法规，以实现国家对房地产市场的宏观调控</p>
      <ul class="pointer">
           <li><span>2018-10-24 </span><a href="http://news.fang.com/2018-10-24/29979530.htm">商品房预售制度短期不会取消 “现房销售”开始推行</a></li>
          <li><span> 2018-10-21</span><a href="http://www.fang.com/news/2018-10-21/29944642.htm">“金九”成色不足 全国楼市降温</a></li>
          <li><span>2018-10-18</span><a href="http://news.fang.com/2018-10-18/29910576.htm">楼市先行开征空置税？分析称五年内暂无可能</a></li>
      </ul>
    </div>

    </div>
</div>

<div class="contact">
  <div class="main">
  <div class="contactmain">
   <div class="contacttxt">
      <div class="contacttxt_t"><font>联系我们</font>CONTACT us</div>
      <div class="contactname">七怪团队</div>
      <p><img src='{{static_url("image/ico1.gif")}}'><span>座机：</span>888-8888</p>
      <p><img src='{{static_url("image/ico2.gif")}}'><span>传真：</span>010-12345678</p>
      <p><img src='{{static_url("image/ico3.gif")}}'><span>手机：</span>13812345678</p>
    </div>
   <div class="contactr">
    <div class="ititle ctitle"><p>公司简介</p><font>Conpany Profile</font></div>
    <div class="conpany">
     <span><img src='{{static_url("image/q6.jpg")}}' width="220" height="165" /></span>	&emsp;&emsp;七怪房源于2018年在中期答辩项目中创建。
       	目前城市化严重，大量人口不断向城市转化和集中，城镇人口占总人口的比重逐渐提高，在这个有着固态面积的城市之中，一张舒适且价格合适的床位就显得尤为重要，在小小的面积中有着你的希望，梦想，和坚持。
       	而我们网站致力于房租平价，致力于为顾客带去更好的服务，致力于做到全网第一。网站的租房理念也是大多数创业和来城市努力的年轻人所喜爱的。<br />
       	&emsp;&emsp;在这三寸人间，何不拼搏一把。
    </div>
   </div>
   </div>
  </div>
</div>


<div class="f_link">
  <div class="main">
      <span>友情链接：</span>
          <a href="https://bj.zu.anjuke.com" style="border:0">安居客</a>
    </div>
</div>


<div class="bootTxt">
   <div class="text"> 地址：北京市大兴区亦庄经济发展区科创十三街达内教育中心&nbsp;&nbsp;&nbsp;&nbsp;座机：888-8888-888&nbsp;&nbsp;&nbsp;&nbsp;手机：1388888888<br />版权所有：<a
           href="/about_us">七怪团队</a>&nbsp;&nbsp;&nbsp; 技术支持：<a href="/about_us" >七怪团队</a>&nbsp;&nbsp;&nbsp; ICP备案编号：<a href="">ICP备********号</a></div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        var msg = "";
            $.ajax({
                type:'POST',
                url:'/index',
                //peng
                data:{},
                dataType: "json",
                success:function(data){
                    <!---data.用来接受后端发来的消息，如果为1则执行一下代码-->
                    if(data.is_login == '1'){
                        msg = data.un+', 七怪房源欢迎您';
                        document.getElementById('user_status').innerHTML = msg;
                        document.getElementById('please_login').innerHTML = " ";
                        var obj = document.getElementById('logout');
                        var oA = document.createElement('a');
                        oA.href = '/logout';
                        oA.innerHTML = '注销';
                        obj.appendChild(oA);
                    }
                },
                error:function(jqXHR){
                   alert('拉取信息失败');
                },
            });
         });
</script>
</html>