@charset "utf-8";
/* Style Reset*/
body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote,h2,font
{ margin: 0; padding: 0; border:0;} 
input, button, textarea,select, optgroup, option { font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit;}
ul, li, dl, dt, dd, ol {list-style: none; }
img{ border: 0;}
.fl{ float:left}.fr{ float:right}.clear { clear:both;height:0px; overflow:hidden}
a{text-decoration:none;outline:0; }
html{overflow-x:hidden; }
.center{ text-align:center;}
.center img{ border:1px solid #ccc;}
/*header*/
body{color:#3a7d74;font-size:12px; overflow-x:hidden;background:#fff}
.header{width:1150px;min-width:1004px;height:63px;padding-top:23px;margin:0 auto;}
.logo{ float:left;display:inline;}
.tel{ float:right;font-family:'arial'; text-align: right; font-size:18px; font-weight:bold; width:240px;}
.telphone{ float:left; margin-right:20px; }
.telnum{ float:right; text-align:left;}
.telnum span{ display:block; font-size:24px; line-height:30px;}

/*导航栏*/
.menu{background:#095c52; width:100%; height:58px;}
.menu ul{ width:1004px; margin:0 auto;margin-top: -4px;}
.menu li{ float:left;}
.menu a{ color:#fff; text-align:center;font:16px/58px 'Microsoft Yahei'; width:100px; float:left;}
.menu a:hover{ background: rgb(58,125,116);}

/*头像栏*/
.nav{width:1150px;margin:50px auto;}
.txbj{}
.wangming{font-size:24px;color:#000;float:left;line-height:100px;margin-left:20px;margin-top:50px;}
.nav img{width:100px;heigth:100px;float:left;margin-right:10px;margin-top:50px;}
.quan{margin-left:100px;margin-top:50px;}

/*main*/
.main{width:1150px;margin:0 auto;;font-size:16px;}
.main .left{width:200px;background:#fff;float:left;}
.main .left a{height:40px;margin-bottom:20px;line-height:40px;margin-left:70px;color:#000;}

.main .left .shouye {background:#3A7D74;color:#fff;}
.main .left .shouye a{background:#3A7D74;color:#fff;}
.main .left li{margin-bottom:20px;}
.main .left a:hover{color:#3A7D74;}
.main .left .shouye a{background:#3A7D74;color:#fff;}

.main .right{margin-left:220px;width:930px;height:800px;}
.main .right .dongtai{font-size:24px;margin-left:10px;border-bottom:1px solid rgb(230,230,230);
            padding-bottom:15px;color:#000;}
.main .right table{margin:120px 220px;position:relative;left:50px;color:#000;}
.main .right input{position:absolute;border:1px solid #000;
                       }
.main .right span{position:relative;left:270px;top:50px;}
.main .right table td {margin-bottom:20px;}
.main .right input{vertical-align:bottom;}
.tijiao{position:relative;top:70px;}
.nicheng{position:relative;top:10px;}
.mima{position:relative;top:10px;}



.bootTxt{ overflow:hidden;width:100%;background:#3A7D74; text-align:center; color:#fff; padding-top:30px;line-height:30px; padding-bottom:30px;}
.text{ width:1080px; margin:0 auto;}
.bootTxt a{ color:#fff; }
.share{width:230px; color:#85a7f5; display:inline-block; margin-top:13px;}
.f_link .topbut{ position:relative; float:right;background:url(../images/top.gif) center 0px no-repeat; padding:0; width:58px; text-align:center;line-height:1; height:58px; margin-top:-17px; z-index:1;}
